# Dependencies
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# OS-specific files
.DS_Store

# IDE specific files
.vscode/
.idea/
